---
const { label, link } = Astro.props;
---

<astro-nav-button>
  <a
    class="
      bg-black
      dark:bg-white
      text-white
      dark:text-black

      text-sm
      font-medium

      rounded
      py-1 px-4
      "
      href={link}
      target="_blank">
    {label}
  </a>
</astro-nav-button>