---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
	@font-face {
	  font-family: 'Diatype Mono Variable';
	  src: url('/fonts/ABCDiatypeMonoVariable.woff2') format('woff2');
	  font-style: normal;
	  font-weight: 333;
	  font-display: swap;
	  font-named-instance: 'Regular';
	}
  
	:root { font-family: 'Diatype Mono Variable', monospace; }

	@supports (font-variation-settings: normal) {
		:root { font-family: 'Diatype Mono Variable', monospace; }
	}

  * {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  body {
    --bg: white;
    --fg: black;
    --mg: rgb(245, 245, 245);
    background: var(--bg);
    color: var(--fg);
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  @media (prefers-color-scheme: dark) {
    body {
      --bg: black;
      --fg: white;
      --mg: rgb(26, 26, 26);
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  a {
    color: var(--fg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    margin: 1rem 0;
  }

  ul,
  ol {
    padding-left: 2ch;
  }

  main {
    max-width: 80ch;
    margin: 4rem auto;
    padding: 0 1rem;
  }

  main > section {
    margin-top: 2rem;
  }

  details {
    margin-bottom: 0.5rem;
  }

  details > summary {
    cursor: pointer;
  }

  details > summary:first-of-type {
    list-style-position: outside;
  }

  details > div {
    margin: 0.5rem 0;
    padding: 1.5rem 2rem 0.5rem;
    background: var(--mg);
    border-radius: 0.5rem;
  }

  details > div > p,
  details > div > ul,
  details > div > ol,
  details > div > pre {
    margin: 0 0 1rem;
  }

  details > div > pre {
    overflow-x: scroll;
  }

  details > div > *:last-child {
    margin-bottom: 1rem;
  }
</style>
